.error-wrap {
  background: #e5e5e5;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .error-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 78px;
    align-items: center;
    background-color: #f2f4fa;
    padding-left: 125px;

    .profile {
      margin-right: 130px;
    }
  }

  .errorScreen {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .error-image {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .error-definition {
      margin-top: 48px;
      margin-bottom: 42px;
      font-style: normal;
      font-size: 30px;
      text-align: center;
      color: #3c5185;
    }

    .redirect-link {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      align-items: center;
      color: #7f87a6;
      margin: 0px;

      .redirect-link-url {
        color: #3c5185;
      }

      .redirect-link-url:hover {
        color: #3c5185;
        text-decoration: dashed;
      }

    }
  }

  .errorfooter {
    bottom: 0px;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7f87a6;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b2b7c9;
  }
}