.dashboard-wrap {
  width: 100%;
  margin-bottom: 5%;
}

.vertical-line {
  background: linear-gradient(90deg, #ff9800 14.98%, #ffc107 99.91%);
  width: 2px;
  height: 18px;
  position: absolute;
  z-index: 9;
  display: flex;
  margin-top: 24px;
  border-radius: 0px 3px 3px 0px;
}

.area {
  padding: 24px 24px 18px 24px;
  position: relative;
  background: #f2f4fa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  border-radius: 4px 4px 0px 0px;

  .flex-area1 {
    height: fit-content;

    .heading {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      color: #3c5185;
      margin-bottom: 7px;
    }

    .sub-heading {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #7f87a6;
    }
  }

  .link {
    // margin-right: 1.5%; 
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    /* position: absolute; */
    /* right: 15px; */
    /* top: 0px; */
    /* height: 89px; */
    color: #ff9800;
  }
  .link:focus {
    outline: none !important;
  }
  .link:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 1370px) {
  .dashboard-wrap {
    width: 100%;
    margin-bottom: 0px;
  }
}

.scheduled-test {
  margin-top: 24px;
  position: relative;
  margin-bottom: 24px;
}

.table-data {
  padding-bottom: 24px;
}

.table-wrapper {
  background: white;
}
