.report-test {
  width: 100%;
  position: relative;
}

.info-icon::before {
  font-family: FontAwesome-Light, sans-serif;
  font-style: normal;
  content: '\f05a';
  color: white;
}

.total-button {
  border-radius: 2px;
  padding: 4% 0% 4%;
  margin: 0 auto;
  width: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .total-score {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .tooltip-icon {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
  }
}

.total-button.focus,
.total-button:focus {
  outline: none !important;
}

.dark-green {
  background-color: #559352 !important;
}

.light-green {
  background-color: #A6C44D !important;
}

.orange {
  background-color: #F38A49 !important;
}

.red {
  background-color: #E94941 !important;
}

.yellow {
  background-color: #FFC849 !important;
}