.calibrate-generation-flow {
  margin-bottom: 24px;

  .calibrate-test-type-wrapper {
    padding-left: 24px;

    .test-type-heading {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #666f94;
      margin: 0px;
      padding-top: 36px;
      padding-bottom: 24px;
    }

    .test-type-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .test-type {
        width: 49%;
        background: #ffffff;
        border: 1px solid #b2b7c9;
        box-sizing: border-box;
        border-radius: 4px;
        padding-bottom: 10px;
        margin-right: 24px;
      }
    }

    .calibrate-email-assignment {
      margin: 48px 0px 48px 0px;

      p {
        margin: 0px;
      }

      .heading {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #666f94;
      }

      .sub-heading {
        margin-top: 6px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #7f87a6;
      }

      .add-new-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #ff9800;
        display: block;
        margin-left: 551px;
        margin-top: 8px;
        cursor: pointer;
        width: fit-content;
      }

      .test-link-expiry-days {
        margin-top: 48px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #666f94;
      }
    }
  }

  .calibrate__horizontal-line {
    margin-top: 48px;
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    margin-right: 24px;

    .cancel-button {
      width: 137px;
      height: 42px;
      background: #ffffff;
      border: 1px solid #ff9800;
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 18px;
      color: #ff9800;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      cursor: pointer;
    }

    .send-calibrate-test {
      width: 187px;
      height: 42px;
      background: radial-gradient(
        49.96% 50.8% at 49.96% 49.86%,
        #ff8800 0%,
        #f08800 100%
      );
      box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.25);
      border-radius: 4px;
      color: #ffffff;
      border: none;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      cursor: pointer;
    }

    .disabled {
      background: #edae5d;
    }
  }
}

.test-type-title {
  background: #ffffff;
  border: 1px solid #b2b7c9;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 4px;
  height: 75px;
  padding-left: 24px;
  display: flex;
  align-items: center;

  .type-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #999fb7;
    margin-left: 10px;
  }
}

.test-type-title:hover {
  cursor: pointer;
}

.test-type-title-selected {
  background: #ffffff;
  border: 1px solid #ff9800;
  border-radius: 4px;
  height: 75px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.test-type-title-selected:hover {
  cursor: pointer;
}

.facts-details {
  margin-right: 10%;
}

.type-description {
  padding: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #666f94;
  margin: 0px;
}

.type-facts-percent {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;

  .type-percent-title,
  .facts-details-title {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #666f94;
    margin-bottom: 6px;
  }

  .type-percent-score,
  .facts-details-score {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #3c5185;
  }
}

.type-facts-details {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  margin-bottom: 24px;
}
