.rp-card {
  width: 424px;
  height: 357px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(64, 75, 122, 0.08),
    0px 0px 16px rgba(64, 75, 122, 0.08);
  border-radius: 4px;
}
.wrapper-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, #4c65a5 0%, #323e70 100%);
  box-shadow: 1px 1px 11px rgba(60, 81, 133, 0.25);
  background-size: cover;
}
.emailfp {
  padding-left: 10px;
  width: 352px;
  height: 51px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 30px;
  background: #ffffff;
  /* Blue 6 */
  border: 1px solid #999fb7;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.logo {
  margin: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.sub-textrp {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #666f94;
  margin-top: 24px;
  margin-left: 65px;
  margin-right: 48px;
}

.cancel {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  /* Blue 2 */
  color: #f08800;
  margin-top: 36px;
  margin-left: 190px;
  margin-right: 190px;
}
.cancel.focus,
.cancel:focus {
  outline: none !important;
}

.rp-card1 {
  width: 424px;
  height: 254px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(64, 75, 122, 0.08),
    0px 0px 16px rgba(64, 75, 122, 0.08);
  border-radius: 4px;
}

.continue {
  width: 352px;
  height: 42px;
  left: 544px;
  top: 382px;
  background: radial-gradient(
    49.96% 50.8% at 49.96% 49.86%,
    #ff8800 0%,
    #f08800 100%
  );
  box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.25);
  border-radius: 6px;
  margin-top: 48px;
  margin-right: 36px;
  margin-left: 36px;
  color: white;
  border: none;
}
.continue:hover {
  cursor: pointer;
}
.continue.focus,
.continue:focus {
  outline: none !important;
}
.toggle {
  position: absolute;
  top: 115px;
  right: 52.75px;
}
.toggle:hover {
  cursor: pointer;
}
.formWrap1 {
  position: relative;
}
.message {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  // display: flex;
  align-items: center;
  text-align: center;
  color: #323e70;
  display: table;
  margin: 0 auto;
  margin-top: 40px;
  // margin-left: 103px;
  // margin-right: 105px;
}
.send-button {
  width: 352px;
  height: 42px;
  margin-left: 36px;
  margin-right: 36px;
  margin-top: 30px;
  box-shadow: 0px 0px 2px rgba(255, 152, 0, 0.25);
  border-radius: 6px;
  color: #ffffff;
  border: none;
}
.send-button:hover {
  cursor: pointer;
}
.send-button.focus,
.send-button:focus {
  outline: none !important;
}
.error {
  font-size: 12px;
  color: red;
  display: flex;
  height: 1px;
  padding-top: 3px;
  margin-left: 38px;
}
