.report-test {
    width: 100%;
    // margin-bottom: 24px;
    position: relative;
  }
  .green {
    background-color: #468f5a !important;
  }
  .red {
    background-color: #f44336 !important;
  }
  .yellow {
    background-color: #ed8c14 !important;
  }
  .total-score {
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .tooltip-icon {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
  }